*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Inter', bold;}

body {
    background-color: blueviolet;

}

input {
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(133, 42, 252);

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #d4c4f8;
}

input:focus {
    
    background-color: lightblue;
    
} 

#header-container {
    justify-content: center;
    align-items: center;
    color: rgb(91, 43, 153);
    text-align: center;  
    border-radius: 5px;
    border: 10px solid  #d4c4f8;
    margin: auto;
    background-color: white;
    display: flex;
    margin-bottom: 20%;

  

}


#container-div {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
  
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#startContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 30px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: none;
    background-color: rgb(93, 40, 143);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;

}

.btn:hover {
    border-color: black;
    background-color: rgb(143, 64, 233);
}

.start-btn, .next-btn, .lock-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.start-btn {
    justify-content: center;
    align-items: center;
    margin: 20;
}

#numberOfQuestions > button {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    width: 40px;
    justify-content: center;
 
}

#labelInputContainer {
    justify-content: center;
    align-items: center;
        
}

#labelInputContainer > label {
    padding: 20px 0;
    border: 30px;
    margin-top: 50px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked:hover, .start_clicked:hover {
    background-color: #ffce6c;
}
.clicked, .start_clicked  {
    background-color: #F7b32b;
}

.hide {
    display: none;
}