*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Inter', bold;}

body {
    background-color:#E56399;
    color: #3f3332;
    font-size: 1.2em;
    
/*     color: #2d1e2f;
    color:#e3170a;
    color: #a9e5bb;
    color: #fcf6b1;
    color: #f7b32b; */

}

input {
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #7A6563;
    font-size: 1em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #86dac071;
}

input:focus {
    outline: none;    
    background-color: #DE6E4B;
    color: white;
    
    
} 

#header-container {
    justify-content: center;
    align-items: center;
    color: #7FD1B9;
    text-align: center;  
    border-radius: 5px;
    border: 10px solid  #E5D4CE;
    margin: auto;
    background-color: white;
    display: flex;
    margin-bottom: 20%;

  

}


#container-div {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
  
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 10px solid  #E5D4CE;

}

#startContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    border: 10px solid  #E5D4CE;


}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    
}
.btn-grid > button {
    font-size: 0.8em;

}

.btn {
    border: none;
    background-color: #7FD1B9;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;

}

.btn:hover {
    border-color: black;
    background-color: #7A6563;
}

.start-btn, .next-btn, .lock-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.start-btn {
    justify-content: center;
    align-items: center;
    margin: 20;
}

#numberOfQuestions > button {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    width: 40px;
    justify-content: center;
    font-size: 1em;
   
}

#labelInputContainer {
    justify-content: center;
    align-items: center;
        
}

#labelInputContainer > label {
    padding: 20px 0;
    border: 30px;
    margin-top: 50px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked:hover, .start_clicked:hover {
    background-color: #DE6E4B;
}
.clicked, .start_clicked  {
    background-color: #DE6E4B;
}

.hide {
    display: none;
}